
<h1>New Users</h1>
<%= form_with scope: :users,url: users_path, local: true do |form| %>
  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>
  
 
   <p>
    <%= form.label :mail %><br>
    <%= form.text_field :mail %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :patience %><br>
    <%= form.number_field :patience %>
  </p>
    <p>
    <%= form.label :precision %><br>
    <%= form.number_field :precision %>
  </p>
  <p>
    <%= form.label :volonte %><br>
    <%= form.number_field :volonte %>
  </p>
  <p>
    <%= form.label :solitaire %><br>
    <%= form.number_field :solitaire %>
  </p>
  <p>
    <%= form.label :ordonne %><br>
    <%= form.number_field :ordonne %>
  </p>
  <p>
    <%= form.label :logique %><br>
    <%= form.number_field :logique %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', users_path %>
