
<h1>New Users</h1>
<%= form_with scope: :users,url: users_path, local: true do |form| %>
  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>
  
 
   <p>
    <%= form.label :mail %><br>
    <%= form.text_field :mail %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', users_path %>
